<div class="social-links">
    {% if site.github %}
        <a class="link" data-title="Github profile" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if site.devto %}
    <a class="link" data-title="Dev.to profile" href="https://dev.to/{{ site.devto }}" target="_blank" rel="noopener">
        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Kinyanjui Wangonya's DEV Profile" class="icon icon-devto" />
    </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="Hit my inbox" href="mailto:{{ site.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
