---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html %}

		<script>
			console.log('%c%s',
                'color: green; background: yellow; font-size: 25px;',"Congratulations! You've reached the console ¯\\_(ツ)_/¯");
            console.log('%c%s',
                'color: green; background: yellow; font-size: 15px;',"Email me to claim your prize")
		</script>

	</body>

</html>
