---
layout: default
---
<style>
    .work {
        padding: 70px 0;
    }

    .work .work-box {
        position: relative;
    }

    .work .work-item {
        display: block;
        padding: 0 0 30px;
        margin-bottom: 30px;
        text-decoration: none;
        border-bottom: 1px solid #EEEEEE;
        color: #2B2B2B;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .work .work-item:hover .work-item-image {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-box-shadow: 0px 20px 20px -25px rgba(0, 0, 0, 0.2), 0px 3px 13px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 20px 20px -25px rgba(0, 0, 0, 0.2), 0px 3px 13px rgba(0, 0, 0, 0.1);
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .work .work-item:hover .work-item-content {
        color: #2B2B2B;
    }

    .work .work-item:hover .work-item-content .circle {
        background: #9c9c9c;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .work .work-item .work-item-title {
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 22px;
        font-weight: normal;
        color: #2B2B2B;
    }

    .work .work-item .work-item-image {
        position: relative;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        border-radius: 3px;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0px 50px 40px -30px rgba(0, 0, 0, 0.2), 0px 3px 13px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 50px 40px -30px rgba(0, 0, 0, 0.2), 0px 3px 13px rgba(0, 0, 0, 0.1);
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .work .work-item .work-item-image:after {
        content: "";
        display: table;
        padding-top: 75%;
    }

    .work .work-item .work-item-content {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #838188;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .work .work-item .work-item-content .work-item-text {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
        padding-left: 25px;
    }

    .work .work-item .work-item-content .circle {
        position: absolute;
        left: -48px;
        top: 50%;
        width: 20px;
        height: 20px;
        margin-top: -8px;
        border: 3px solid #FFFFFF;
        border-radius: 15px;
        background-color: #d0cbd4;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .work .work-item .work-item-content p {
        margin: 0;
    }

    .work .work-item .work-item-content .ion {
        display: none;
        margin-left: 30px;
        font-size: 32px;
    }
    @media only screen and (min-width: 576px) {
        body {
            border-top: 10px solid #F1F1F1;
            border-bottom: 10px solid #F1F1F1;
        }
        .main-nav {
            top: 40px;
        }
        .work .work-box {
            padding-left: 40px;
            position: relative;
        }
        .work .work-box:before {
            content: "";
            position: absolute;
            top: 21.5%;
            left: 0;
            height: 63.5%;
            width: 4px;
            background: #f5f5f5;
        }
        .work .work-item .work-item-content .circle {
            display: block;
        }
        .work .work-item .work-item-content .ion {
            display: block;
        }
        .jekyll {
            height: 10px;
            width: 10px;
            background-color: #C82E29;
            border-radius: 50%;
            display: inline-block;
        }
        .angular {
            height: 10px;
            width: 10px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
        }
        .html {
            height: 10px;
            width: 10px;
            background-color: orange;
            border-radius: 50%;
            display: inline-block;
        }
    }
</style>
<article>

    <h1 class="title">{{ page.title }}</h1>

    <div class="divider"></div>

    {{ content }}

</article>

<div class="page-navigation code">
    <a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back home">&larr; Home</a>
</div>
